@import '../../sass/vars';

.loader{
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    position: relative;

    .loaderWrapper{
        border-radius: 0 6rem 0 6rem;
        background-color: $color-white;
        width: 20rem;
        height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

    }
    .wrapperBorder{
        width: 20rem;
        height: 20rem;
        border-radius: 0 6rem 0 6rem;
        background-color: $color-purple;
        position: absolute;
        filter: blur(4px);
    }

}