.wrapper{
    width: 36rem;
    height: 30rem;
    position: absolute;
    right: 0;
    bottom: 0;

    @media only screen and (max-width: 37.5em) {
        display: none;
    }

    
    @media only screen and (max-width: 50em) {
        width: 24rem;
        height: 24rem;
    }

    svg{
        width: 100%;
        height: 100%;
    }
}