.wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media only screen and (max-width: 37.5em) {
        display: none;
    }

    svg{
        width: 80%;

        @media only screen and (max-width: 56.25em) {
            width: 60%;
        }
    }
}